.project-section {
    margin-bottom: 0;
}

.project-section .content-box {
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #eae4e4;
    background-color: rgba(186, 176, 192, 0.3);
    border-radius: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    padding: 0 0 1.5rem 0;
    transition-duration: 0.3s;
}

.project-card:hover {
    background-color: rgba(156, 128, 180, 0.44);
    translate: 0 -0.5rem;
    transition-duration: 0.5s;
}

.project-description {
    font-size: 1.2rem;
    font-weight: 700;
}


.project-content {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    font-weight: 900;
    padding: 1%;
    margin: 0;
    font-size: 1.8rem;
    color: #ffffff;
}

.project-description {
    padding: 1%;
    margin: 0;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
}

.project-subtitle {
    padding: 1%;
    margin: 0;
    font-weight: 900;
    font-size: 1.2rem;
    color: #ffffff;
}

.project-tools {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    margin: 0;
    list-style: none;
    color: #ffffff;
    font-weight: 500;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    margin: 0;
}


.project-button, .project-links a:visited {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    background: #6f30ab;
    border-width: 0.1rem 0.1rem 0.2rem 0.1rem;
    border-style: solid;
    border-color: #000000;
    border-radius: 0;
}

.project-button:hover {
    background: rgba(82, 43, 115, 0.89);
    transition-duration: 0.4s;
}

@media (max-width: 1024px) {
    .project-card {
        padding: 0 0 2rem 0;
        transition-duration: 0s;
        font-size: 0.9rem;
    }

    .project-button, .project-links a:visited {
        height: 4rem;
        font-size: 1.5rem;
    }

    .project-subtitle {
        padding: 1% 1% 0;
    }

    .project-card:hover {
    background-color: rgba(156, 128, 180, 0.44);
    translate: 0;
    transition-duration: 0.4s;
}
}
